body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    /* border: solid #5B6DCD 10px; */
    width: 100%;
}

/* add heading and paragraph colors */
header,
main,
footer {
    width: 760px;


}

a:link {
    color: rgb(0 29 56);
    font-weight: bold;
    font-size: 1.1em;
}

/* a:hover {
    color: #abe;
    background-color: black;
} */
/* why does this work so weird */

.mainnav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.mainnav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: #abe;
    border: 1px solid#444;
    box-shadow: 5px 4px 4px #196823;

}

.mainnav a:hover {
    color: #abe;
    background-color: black;
}
/* this works but universial doesn't */

.mainnav li {
    flex: 1 1 auto;
}

header,
footer {
    margin: 0 auto;
    border: 1px solid #bbbbbb;
    padding: .5rem;
    background-color: #ff9949;
    display: grid;

    align-items: center;
    justify-content: center;
    max-width: 840px;
}

header {
    grid-template-columns: 122px 1fr;
}

main {
    max-width: 840px;
    margin: 1rem auto;
    background-color: #49f0ff;
    padding: 1rem;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

footer {
    grid-template-columns: 392px 1fr;
}


.banner {
    width: 100%;
    position: relative;
    /* maybe add margin */
}

.takeAction {
    position: absolute;
    bottom: 30px;
    left: 20px;
    background: radial-gradient(#eee, #ff9949);
    border: 1px solid #000;
    padding: .5rem;
    box-shadow: 0 0 15px #ff9949;
    opacity: .9;
    display: grid;
    /* justify-content: center; */
    justify-items: center;
    /* align-content: center;
    align-items: center; */
    /* text-align: center; */
}

.takeAction p {
    color: #196823;
    text-align: center;
    margin: 0em;
    /* justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; */
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;

}

.takeAction a {
    display: block;
    padding: 1rem;
    margin: 0em;
    text-decoration: none;
    background-color: #abe;
    border: 1px solid#444;
    box-shadow: 5px 4px 4px #196823;
    /* justify-self: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; */
}

.takeAction a:visited {
    color: inherit;
}

.takeAction a:hover {
    color: #abe;
    background-color: black;
}


.site-overview {
    display: grid;
    grid-template-columns: 1fr;
}

.page {
    width: 960px;
    margin: 0 auto;
}

.riverInfo {
    display: grid;
}

.riverInfo ul {
    grid-column: 2/4;
    /* grid-row: 2/4; */
}

.riverInfo h2 {
    /* display: grid; */
    grid-column: 2/4;
    /* align-items: center; */
}

.riverInfo p {
    grid-column: 2/4;
}

.riverInfo img {
    grid-column: 1/2;
    padding-right: 2em;
}

.river1 {
    display: grid;
}

.river1 img {
    grid-row: 1/4;
}

.river2 {
    display: grid;
}

.river2 img {
    grid-row: 1/4;
}

.pricing {
    display: grid;
}

.pricing ul {
    grid-column: 1/3;
    /* grid-row: 2/4; */
}

.pricing h2 {
    /* display: grid; */
    grid-column: 1/3;
    /* align-items: center; */
}

.pricing p {
    grid-column: 1/4;
}

.pricing img {
    grid-column: 3/4;
    padding-left: 2em;

}

.singleDay {
    display: grid;
}

.singleDay img {
    grid-row: 1/4;
}

.multiDay {
    display: grid;
}

.multiDay img {
    grid-row: 1/4;
}


.Section1 {
    display: grid
}

.Section1 h2 {
    grid-column: 1/3;
    color: #196823;
    margin-right: 1em;

}

.Section1 p {
    grid-column: 2/3;
    grid-row: 2/3;
}

.Section1 img {
    grid-row: 1/3;
    grid-column: 3/4;
    width: 100%;
    height: auto;
}

.Section2 {
    display: grid
}

.Section2 h2 {
    grid-column: 2/4;
    color: #196823;
    margin-left: 1em;
}

.Section2 p {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 1em;
}

.Section2 img {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 100%;
    height: auto;
    align-self: center;
}



.Section3 h2 {
    color: #196823;
}





h1 {
    color: #196823;
    font-size: 2.2rem;
    line-height: 2rem;
    font-family: 'Gideon Roman', cursive;
}

h2 {
    background-color: #ff9949;
    /* border: 2px solid black; */
    justify-content: center;
    padding: .3em;
    text-align: center;
}

/* Class Selectors */
.logo {
    width: 100px;
    height: auto;
}

.hero {
    width: 100%;
    height: auto;

}